[build]
  command = 'npm run ci:build'
  publish = 'out'

[template]
  incoming-hooks = ["Uniform"]

[template.environment]
  CONTENTSTACK_STACK_API_KEY = 'Contentstack Stack API Key'
  CONTENTSTACK_ENVIRONMENT = 'Contentstack Environment'
  CONTENTSTACK_DELIVERY_TOKEN = 'Contentstack Delivery Token'
  UNIFORM_API_KEY='Uniform Optimize API Key'
  GA_UA_ID='Google Analytics ID (optional)'

# Stores the next cache between builds for faster build time
[[plugins]]
  package = "netlify-plugin-cache-nextjs"
